.user-container {
  margin-top: 2rem;
}

body {
  text-align:center;
}

.chart {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  margin: 60px auto;
  position: relative;
}

.y {
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  bottom: 0;
  padding: 5px;
}

.x {
  position: absolute;
  top: 100%;
  width: 100%;
  padding: 5px;
}

.style1 {
  position: absolute;
  background:#fff3c6;
  color:black;
  display: none;
  top:-10px;
  left:20px;
  border-radius:3px;
  padding:5px;
  white-space:nowrap;
  z-index:9999;
}


.dot {
  background:#015f99;
  width:10px;
  height:10px;
  border-radius:50%;
  position:absolute;
}

.dot:hover .style1 {
    display:block;
  }


.dot2 {
  background:#ff9500;
  width:10px;
  height:10px;
  border-radius:50%;
  position:absolute;
}

.dot2:hover .style1 {
    display:block;
  }


.state{
    fill: none;
    stroke: #a9a9a9;
    stroke-width: 1;
  }
  .state:hover{
    fill-opacity:0.5;
  }
  #tooltip {   
    position: absolute;           
    text-align: center;
    padding: 20px;             
    margin: 10px;
    font: 12px sans-serif;        
    background: lightsteelblue;   
    border: 1px;      
    border-radius: 2px;           
    pointer-events: none;         
  }
  #tooltip h4{
    margin:0;
    font-size:14px;
  }
  #tooltip{
    background:rgba(0,0,0,0.9);
    border:1px solid grey;
    border-radius:5px;
    font-size:12px;
    width:auto;
    padding:4px;
    color:white;
    opacity:0;
  }
  #tooltip table{
    table-layout:fixed;
  }
  #tooltip tr td{
    padding:0;
    margin:0;
  }
  #tooltip tr td:nth-child(1){
    width:50px;
  }
  #tooltip tr td:nth-child(2){
    text-align:center;
  }