<!DOCTYPE html>
<html ng-app = 'angularjsNodejsTutorial' lang="en">

  <head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Google Map: </title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="javascripts/app.js" type="text/javascript"></script>
    <!-- Custom styles for this template-->
    <link href="/stylesheets/common_new.css" rel="stylesheet">
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 90%;
        width: 90%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 90%;
        width: 90%;
        margin: 20px;
        padding: 0;
      }
    </style>
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <span class="navbar-brand center">Map Visualization</span>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/dashboard">Dashboard</a>
            <a class="nav-item nav-link" href="/crimeVis">Crime visualization</a>
            <a class="nav-item nav-link active" href="/googleMap">Google Map</a>
        </div>
      </div>
    </nav>

    <!-- map -->

    <div id="zip" ng-controller='mapController'>
        Zip Code <input type="text" class="input" placeholder="Input a zip code please" id="zipcode"> 
        <button class="search" ng-click="getLocate()" ng-controller='mapController'>Search</button>
    </div>
    <div id="service", ng-controller='mapController'>
       <select id="service_type">
          <option disabled="" selected="" value=""> -- Show Nearby Services -- </option>
          <option value="Restaurant">restaurant</option>
          <option value="Lodging">lodging</option>
          <option value="gym">gym</option>
          <option value="cafe">cafe</option>
          <option value="beauty_salon">beauty salon</option>
          <option value="shopping_mall">shopping mall</option>
          <option value="hospital">hospital</option>
          <option value="church">church</option>
          <option value="library">library</option>
          <option value="park">park</option>
          <option value="supermarket">super market</option>
          <option value="subway_station">subway station</option>                              
          <option value="movie_theater">movie theater</option>
          <option value="train_station">train station</option>
       </select>
    </div>

    <div id="map" ng-controller='mapController'>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZUngyEa8reGFez6P34YMi5qpl8OiZ3ss&callback=initMap&libraries=places"
      async defer></script>
    </div>
    <!-- Include these before the end of body tag in every HTML file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>

</html>
